.about__page {
  padding: 2rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  section {
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
  }

  &__hero {
    h1 {
      @include title;
      color: $black;
      text-align: center;

      margin: 1rem 0;
      @media (min-width: 768px) {
        text-align: left;
      }
    }

    h3 {
      @include mini-text;
      text-align: center;
      margin-top: 1rem;

      @media (min-width: 768px) {
        text-align: left;
      }
    }

    p {
      @include text;
    }

    .button__holder {
      text-align: center;
      margin: 2rem 0;

      a {
        margin-left: 0;
        margin-right: 0;
      }

      @media (min-width: 768px) {
        text-align: left;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__content {
      @media (min-width: 768px) {
        width: 55%;
      }
      order: 1;
    }

    &__image {
      overflow: hidden;
      order: 2;
      position: relative;
      width: 100%;
      min-height: 350px;

      img {
        max-width: 100%;
        object-fit: cover;
      }

      @media (min-width: 768px) {
        width: 40%;
      }
    }
  }

  &__creations {
    margin-top: 5rem;

    h2 {
      @include title;
      color: $black;
      text-align: center;

      margin: 1rem 0;
    }

    h3 {
      @include mini-text;
      text-align: center;
      margin-top: 1rem;
    }

    p {
      @include text;
      text-align: center;
    }

    article {
      &:not(:first-child) {
        margin-top: 2rem;
      }

      div {
        &:first-child {
          position: relative;
          display: flex;
          justify-content: center;
          min-height: 500px;

          img {
            max-width: 100%;
            object-fit: cover;
          }
        }

        .pills {
          margin-top: 1rem;
          display: flex;
          justify-content: center;

          span {
            background-color: rgba(128, 128, 128, 0.3);
            padding: 5px 8px;

            &:not(:first-child) {
              margin-left: 5px;
            }
          }
        }
      }
    }

    &__title {
      padding-bottom: 2rem;
    }
  }

  &__test {
    margin-top: 5rem;

    h3 {
      @include mini-text;
    }

    p {
      @include text;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }
    }

    &__info {
      margin-top: 1rem;

      .stars {
        text-align: center;

        @media (min-width: 768px) {
          text-align: left;
        }
      }

      .story {
        margin-top: 1rem;
      }

      .name__info {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
          justify-content: flex-start;
        }
      }

      @media (min-width: 768px) {
        width: 55%;
        text-align: left;
      }
    }

    &__image {
      width: 100%;
      min-height: 500px;
      position: relative;

      img {
        max-width: 100%;
        object-fit: cover;
      }

      @media (min-width: 768px) {
        width: 40%;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__faq {
    margin-top: 5rem;
    &__title {
      h3 {
        @include title;
        color: $black;
        text-align: center;

        margin: 1rem 0;
      }
    }
  }
}
