.checkout__page {
  padding: 2rem 1.5rem;

  section {
    margin-bottom: 1rem;

    .back {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      svg {
        margin-right: 5px;
      }
    }

    h3 {
      @include text;

      b {
        font-weight: $bold-font;
      }
    }

    .paypal__buttons {
      margin: 2.5rem auto; 
      width: 50%;
      
    }
  }

  p {
    @include text;
    text-align: center;
    margin-bottom: 1rem;
  }

  a {
    color: $black;
  }

  h1 {
    @include section-title;
  }

  .remove {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
