.checkout__page {
  padding: 2rem 1.5rem;

  section {
    margin-bottom: 1rem;

    .back {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      svg {
        margin-right: 5px;
      }
    }

    h3 {
      @include text;

      b {
        font-weight: $bold-font;
      }
    }
  }

  p {
    @include text;
    text-align: center;
    margin-bottom: 1rem;
  }

  a {
    color: $black;
  }

  h1 {
    @include section-title;
  }

  .remove {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin: 2.5rem 0;
    span {
      padding: 1rem;
      border-radius: $b-radius;
      cursor: pointer;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
