.hero {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  background-color: #fff;

  @media (min-width: 1200px) {
    margin: 2rem auto;
  }

  &__image {
    border-radius: $b-radius;
    overflow: hidden;
    padding-bottom: 200px;
    background-image: url("https://assets.codepen.io/285131/coffee_1.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 5%;
    position: relative;

    &__heading {
      position: absolute;
      left: 10%;
      top: 15%;
      right: 10%;
      font-size: $title-font-mobile;
      font-weight: 700;
      color: #735400;
      line-height: 1.222;

      @media (min-width: 768px) {
        font-size: $title-font-desktop;
      }
      small {
        display: block;
        font-size: $subtitle-font-mobile;
        font-weight: 400;
        margin-top: 0.25em;

        @media (min-width: 768px) {
          font-size: $subtitle-font-desktop;
        }
      }
    }

    &.session {
      background-image: url("https://images.unsplash.com/photo-1524055988636-436cfa46e59e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGxvZ2lufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
      background-size: cover;
      background-position: bottom; 

      .hero__image__heading {
        color: rgb(21, 41, 3);
      }
    }
  }

  &__info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: $text-font-mobile;
    color: #8597a3;
    @media (min-width: 768px) {
      font-size: $text-font-desktop;
    }
    a {
      margin-top: 0.5rem;
      text-decoration: none;
      font-size: $text-font-mobile;
      @media (min-width: 768px) {
        font-size: $text-font-desktop;
      }
      color: $black !important;
      &::before {
        background-color: $black !important;
      }
    }
  }
}
