// colors
$primary-color: #d5e0fe;
$secondary-color: #656371;
$accent-color: #ff7369;

// font sizes
$title-font-mobile: 2rem;
$section-title-font-mobile: 1.75rem;
$subtitle-font-mobile: 1rem;
$text-font-mobile: 0.875rem;

$title-font-desktop: 3.5rem;
$section-title-font-desktop: 3rem;
$subtitle-font-desktop: 1.25rem;
$text-font-desktop: 1rem;

// font weights
$light-font: 400;
$medium-font: 600;
$bold-font: 900;
