.action {
  margin-top: 2rem;

  .action-button {
    cursor: pointer;
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: $black;
    border-radius: 6px;
    color: #fff;
    border: 0;
    &:focus {
      outline: 0;
    }
  }
}

