@import './navbar';
@import './hamburger';
@import './link';
@import './form';
@import './buttons/action';
@import './buttons/submit';
@import './dashboard_link';
@import './section_header';
@import './form_validation';
@import './slider';
@import './table';
@import './card';
@import './counter';
@import './loading';
@import './error';

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    @include text;
  }
}

.black_link {
  a {
    color: $black;
  }
}