.card__container {
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  .image {
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__information {
    margin-top: 1rem;
    .head {
      color: $black;
      @include subtitle;
    }

    .price {
      @include text;
      color: $black;
      margin-top: 0.5rem;
    }
  }

  &:hover {
    filter: grayscale(0.9);
  }
}
