.dashboard-link-container > a {
  cursor: pointer;
  text-decoration: none;
  color: $black;
  position: relative;
  text-transform: capitalize;
  font-size: $text-font-mobile;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;

  &.desktop {
    justify-content: flex-start;
  }

  &.active {
    background-color: $grey;
  }

  @media (min-width: 768px) {
    font-size: $text-font-desktop;
  }

  .link-desktop {
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
      margin-left: 5px;
    }
  }
}
