.form {
  padding: 2rem 0 0;

  .grid {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

.form__input {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;

  .error {
    margin: 10px 0;
  }

  &.hidden {
    display: none;
  }
}

.form__input__label {
  transition: all 0.25s ease;
}

.form__input__field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  &:focus {
    outline: 0;
    border-bottom-color: $black;
  }
}
