.forgot_password {
  .overflow-hidden {
    display: block;
    height: 250px;
    overflow: hidden;
    position: relative;
  }

  .username,
  .password,
  .otp {
    position: absolute;
    width: 100%;
    left: 0px;
    top: -500px;
    transition: all 1.6s ease-in-out;
  }

  .username.active,
  .password.active,
  .otp.active {
    top: 0px;
  }
}
