.status {
  font-size: 10px;
  padding: 6px 16px;
  color: $table-data-bg;
  border-radius: 20px;
  font-weight: 700;

  &.completed {
    background: $table-data-blue;
  }

  &.process {
    background: $table-data-yellow;
  }

  &.pending {
    background: $table-data-orange;
  }
}
